@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#hero{
  background-image: url("/Rectangle 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  background: #000;
  padding: 40px 0;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.marquee-content img {
  display: inline-block;
  margin: 0 40px;
  vertical-align: middle;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width:769px) {
  #hero{
    background-image: none;
  }
  .marquee{
    padding: 20px 0;
  }
  .marquee-content img{
    margin: 0 20px;
  }
}